<div class="filters-top-bar" data-component="collectionBar">
    <div class="collection__bar flex justify-between">
        <div>
          {% include 'filter-sortby' %} 
        </div>
        <div class="products-counter">
          <span class="count">{{ collection.all_products_count }}</span> Products
        </div>
        <div class="collection__bar-view" data-collection-templates>
          {% assign views = "12,24,36" | split: ',' %} {{ 'collections.general.show' | t }} {% for num in views %}
          <a href="#" data-collection-template="view-{{ num }}">{{ num }}</a> {% endfor %}
        </div>
    </div>
</div>