<div class="drawer filter-flyout" data-component="sortDrawer">
  <div class="filter-flyout__header">
    <h4 class="ma0">{{ 'collections.general.sort' | t }}</h4>
    <a href="#" data-sort-close>
      {% include 'icon-close' %}
    </a>
  </div>

  <div class="filter-flyout__filters" data-sort-options>
  </div>

  <div class="filter-flyout__bottom">
    <button class="bttn bttn--full bttn--small" data-apply-sort>
      {{ 'collections.general.apply' | t }}
    </button>
  </div>
</div>