.react-products-filters .products-result {
  padding: 10px 0; }

.react-products-filters .product-item {
  width: 200px;
  margin: 10px; }

.react-products-filters .filters-left {
  flex: 0 0 250px;
  background-color: #ABC; }

.react-products-filters .filters-top {
  height: 55px;
  background-color: #BCA; }

.react-products-filters .image-wrapper img {
  object-fit: cover;
  width: 200px;
  height: 200px; }

.react-products-filters .react-pagination {
  margin: 40px 0 10px; }

.container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding: 0; }

@media (min-width: 38em) {
  .container {
    padding: 0 40px; } }
