<section
  data-section-id="{{ section.id }}"
  data-section-type="full-width-image"
  class="full-width-image full-width-image--{{ section.settings.aspect_ratio }}"
>

  {%- if section.settings.image == blank and section.settings.video_url == blank -%}
    <div class="full-width-image__placeholder">{{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}</div>
  {%- endif -%}

  {% include 'content-overlay' with s: section.settings, heading: section.settings.title, contain: true %}

  {% if section.settings.video_url != blank %}
    <video class="full-width-image__video" autoplay playsinline loop muted src="{{ section.settings.video_url }}" />
  {% endif %}

  {% if section.settings.image != blank %}
    {% include 'responsive-image' with
      image: section.settings.image,
      wrapper_class: 'full-width-image__image',
      max_width: 3000
    %}
  {% endif %}

</section>

{% schema %}
  {
    "name": "Full width image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "This image will also display as your fallback image if a video is added."
      },
      {
        "type": "url",
        "id": "video_url",
        "label": "Video link",
        "info": "Direct link to .mp4 video file. Upload an MP4 under 20 MB [here](/admin/settings/files) and copy the URL. For detailed instructions, see our [documentation](https://help.fluorescent.co/context/full-width-image.html#upload-a-video)."
      },
      {
        "type": "select",
        "id": "aspect_ratio",
        "label": "Aspect ratio",
        "options": [
          { "value": "3_2", "label": "3:2" },
          { "value": "unconstrained", "label": "Unconstrained" }
        ],
        "default": "3_2"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 30,
        "label": "Overlay opacity"
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "range",
        "id": "text_max_width",
        "label": "Max width of text",
        "min": 16,
        "max": 38,
        "step": 1,
        "default": 25
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text"
      },
      {
        "type": "select",
        "id": "link_style",
        "label": "Link style",
        "options": [
          {
            "value": "button",
            "label": "Button"
          },
          {
            "value": "arrow_link",
            "label": "Link with arrow"
          }
        ]
      },
      {
        "type": "select",
        "id": "horizontal_text_position",
        "label": "Horizontal text position",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "center", "label": "Center" },
          { "value": "right", "label": "Right" }
        ]
      },
      {
        "type": "select",
        "id": "vertical_text_position",
        "label": "Vertical text position",
        "options": [
          { "value": "top", "label": "Top" },
          { "value": "middle", "label": "Middle" },
          { "value": "bottom", "label": "Bottom" }
        ]
      }
    ],
    "presets": [
      {
        "name": "Full width image",
        "category": "Image",
        "settings": {
            "image": "",
            "video_url": "",
            "overlay_opacity": 50,
            "overlay_color": "#707070",
            "text_color": "#ffffff",
            "title": "Full width image section",
            "subheading": "This section can be used to organize the homepage into distinct areas, or mix and match it before or after items in the Collage grid to give it a magazine-like feel.",
            "text_max_width": 30,
            "link_text": "Try it out",
            "link_style": "button",
            "horizontal_text_position": "left",
            "vertical_text_position": "middle"
          }
      }
    ]
  }
{% endschema %}
