<section class='collection'>
  <header role="banner" class="section products-header">
    <div class="section--standard flex flex-wrap">
      <div
        class="
          collection__details
          {% if section.settings.show_collection_image and collection.image == blank %}collection__details--no-image{% endif %}
        "
      >
        <h1 class="type-heading-1 mv3 ma0">{{ collection.title }}</h1>
        {% if collection.description != blank %}
          <div class="type-body-regular rte measure">
            {{ collection.description }}
          </div>
        {% endif %}
      </div>

      {% if section.settings.show_collection_image and collection.image != blank %}
        <div
          class="lazyload collection__image"
          data-bgset="{% include 'responsive-bg-image', image: collection.image %}"
          role="img"
          aria-label="{{ collection.image.alt }}"
        ></div>
      {% endif %}
    </div>
  </header>
  
  {% include 'react-products-filters' %}
</section>
