<div class="drawer filter-flyout" data-component="filterDrawer">
  <div class="filter-flyout__header">
    <h4 class="ma0">{{ 'collections.general.filter' | t }}</h4>
    <a href="#" data-filters-close>
      {% include 'icon-close' %}
    </a>
  </div>

  <div class="filter-flyout__filters" data-filters>
  </div>

  <div class="filter-flyout__bottom">
    <button class="bttn bttn--full bttn--small" data-apply-filters>
      {{ 'collections.general.apply' | t }}
    </button>
</div>

</div>