{% comment %} {% include 'dump' with collections %} {% endcomment %}

{% paginate collections.all.products by 1000 %}
  {% assign products = collections.all.products %}
{% endpaginate %}

{% unless products == empty %}
  <script type="application/json" data-products-json>
    {{ products | json }}
  </script>
{% endunless %}

<div id="react-products-filters">
  Here becomes ReactJS products filters
</div>